<div id="searchbar">
    


<div id="grid1"><button (click)="allMoviesFn()" style="height: 100%; width: 100%;" >ALL<br>MOVIES</button></div>
<div id="grid2"><button (click)="fantasyFn()"  style="height: 100%; width: 100%;">FANTASY</button></div>
<div id="grid3"><button (click)="actionFn()" style="height: 100%; width: 100%;">ACTION</button></div>
<div id="grid4"><button (click)="sciFiFn()"  style="height: 100%; width: 100%;">SCIENCE<br>FICTION</button></div>
<div id="grid5"><button (click)="comicBookFn()"  style="height: 100%; width: 100%;">COMIC<br>BOOK</button></div>
<div id="grid6"><button (click)="horrorFn()"  style="height: 100%; width: 100%;">HORROR</button></div>
<div id="grid7"><button (click)="criticallyAcclaimedFn()"  style="height: 100%; width: 100%;">CRITICALLY<br>ACCLAIMED</button></div>

<div id="input" ><input [(ngModel)]="searching2.searchText" placeholder="Search Nixflix..." style=" height: 93%; width: 100%; padding-left: 1vw;"></div>

</div>

