#header {
    width: 100vw;
    min-width: 200px;
    height: 28vh;
    min-height: 180px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}